[Desktop Entry]
Type=Application
Version=1.0
Name=Install System
GenericName=System Installer
Keywords=live-installer;17g;system;installer
TryExec=live-installer
Exec=/usr/bin/live-installer
Comment=install EndeavourOS to disk
Icon=/usr/share/endeavouros/EndeavourOS-icon.png
Terminal=false
StartupNotify=true
Categories=grk;System;
X-AppStream-Ignore=true
X-XFCE-Source=file:///usr/share/applications/live-installer.desktop
